/* basic css reset */
html, body, div, span, a, h1, h2, h3, h4, h5, h6, p, blockquote, img, 
ol, ul, li, input, label, select, table, tbody, tfoot, thead, tr, th, 
td, footer, header, menu, nav, section, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --bg: #212121;
    --text: white;
    --forest: #138d19;
    --brick: #8d2513;
    --aqua: #138d83;
    --cinder: #b98c10;
}
body {
    background-color: var(--bg);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
}
#new-note-wrapper {
    width: 50%;
    max-width: 600px;
    background-color: var(--bg);
    padding: 1rem;
    border: 1px solid white;
    
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--text);
}

form > * {
    margin: 0.5rem 0;
}

input, textarea {
    outline: none;
    resize: none;
    background-color: var(--bg);
    color: var(--text);
    border: none;
}

textarea {
    height: auto;
    overflow: hidden;
}

#save-note-btn {
    width: 60px;
}

#options {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
#options > button {
    background-color: var(--bg);
    border: none;
    border-radius: 5px;
    color: var(--text);
    outline: none;
    height: 30px;
    width: 50px;
}
#options > button:hover {
    background-color: rgba(255,255,255, 0.1);
    cursor: pointer;
}
.color-node {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#save-info {
    margin: 1rem;
}